<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="56.25" viewBox="0 0 100 56.25">
  <defs>
    <clipPath id="clip-Vídeo_do_YouTube_10">
      <rect width="100" height="56.25"/>
    </clipPath>
  </defs>
  <g id="Vídeo_do_YouTube_10" data-name="Vídeo do YouTube – 10" clip-path="url(#clip-Vídeo_do_YouTube_10)">
    <g id="Signaling" transform="translate(21.743 17.71)">
      <path id="signaling-2" data-name="signaling" d="M0-89.135s13.394-9.417,27.035-9.417,27.527,9.417,27.527,9.417" transform="translate(1.084 98.552)" fill="none" stroke="rgba(69,78,224,0.5)" stroke-width="0.5"/>
      <path id="Polígono_4" data-name="Polígono 4" d="M1.5,0,3,3H0Z" transform="translate(54.256 7.29)" fill="#454ee0"/>
      <path id="Polígono_5" data-name="Polígono 5" d="M1.5,0,3,3H0Z" transform="translate(-0.744 7.29)" fill="#454ee0"/>
    </g>
  </g>
</svg>
