:host {
  .mat-toolbar {
    padding-left: 8px;
    padding-right: 8px;
    a.mat-button-base {
      margin-right: 8px;
    }
    .mat-menu-trigger {
      height: 100%;
      border-radius: 4px;
    }
  }
}
@media (max-width: 720px) {
  .client-app-name {
    font-size: 90%;
  }

  app-logo {
    display: none;
  }
}
