<mat-toolbar color="primary" class="client-toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-icon-button routerLink="/">
    <mat-icon>home</mat-icon>
  </a>
  <h1 class="client-app-name">{{ title }}</h1>
  <span class="spacer"></span>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <app-logo></app-logo>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button class="signup-link" routerLink="/user-signup" mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Inscreva-se</span>
  </button>
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>
