<mat-toolbar color="primary" class="client-toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-icon-button routerLink="/">
    <mat-icon>home</mat-icon>
  </a>
  <h1 class="client-app-name">{{ title }}</h1>
  <span class="spacer"></span>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/user-profile/login">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item routerLink="/user-signup">
    <mat-icon>how_to_reg</mat-icon>
    <span>Inscreva-se</span>
  </button>
</mat-menu>
