<header
  focusOnNavigation
  class="docs-header-background"
  aria-label="Participar"
  id="homepage-header"
>
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">WebRTC Community</h1>
      <h2>Porquê a comunicação livre é o que nos faz evoluir</h2>
    </div>
    <div class="docs-header-start">
      <a mat-raised-button class="docs-button" routerLink="/user-signup">
        Saber mais
      </a>
      <button
        mat-raised-button
        [matMenuTriggerFor]="menu"
        aria-label="Quero saber mais"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="openDialog(isDev, true)">
          Sou desenvolvedor
        </button>
        <button mat-menu-item (click)="openDialog(isDev)">
          Quero contribuir
        </button>
      </mat-menu>
    </div>
  </div>
</header>

<main class="docs-home-promo">
  <div class="docs-home-featured-components docs-home-carousel-row">
    <comm-carousel [itemWidth]="260" [aria-label]="'Featured components'">
      <div
        *ngFor="let item of banners"
        carousel-item
        class="docs-featured-components-carousel-item"
      >
        <div class="docs-home-img-container">
          <img [alt]="item.alt" [src]="item.src" role="presentation" />
        </div>
        {{ item.alt }}
      </div>
    </comm-carousel>
  </div>
  <mat-divider></mat-divider>
  <div class="docs-home-row docs-introduction">
    <div class="docs-home-row-column">
      <h2>MediaStream</h2>
      <p>Aquisição de streams para áudio e vídeo</p>
    </div>
    <div class="docs-home-row-column">
      <h2>RTCPeerConnection</h2>
      <p>Comunicação de dados para áudio e vídeo</p>
    </div>
    <div class="docs-home-row-column">
      <h2>RTCDataChannel</h2>
      <p>Comunicação de dados para aplicativos</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="docs-home-featured-components docs-home-carousel-row">
    <comm-carousel [itemWidth]="260" [aria-label]="'Featured components'">
      <a
        *ngFor="let sample of samples"
        carousel-item
        class="docs-featured-components-carousel-item"
        [routerLink]="sample.route"
      >
        <div class="docs-home-img-container">
          <mat-icon>{{ sample.icon }}</mat-icon>
        </div>
        {{ sample.label }}
      </a>
    </comm-carousel>
  </div>
  <mat-divider></mat-divider>
  <div class="docs-home-row docs-introduction">
    <div class="docs-home-row-column">
      <h2>Código aberto</h2>
      <p>
        O projeto WebRTC é de código aberto e suportado pela Apple, Google,
        Microsoft e Mozilla, entre outros.
      </p>
      <p>
        Todo conteúdo do projeto são/serão mantidos pela comunidade.
        <a class="docs-link" routerLink="">Gostaria de contribuir?</a>
      </p>
    </div>
    <div class="docs-home-row-column">
      <h2>Versátil</h2>
      <p>
        Projetado de forma que possa ser integrado aos sistemas de comunicação
        existentes: voz sobre IP (VOIP), vários clientes SIP.
      </p>
      <p>Inclusive rede telefônica pública comutada.</p>
    </div>
    <div class="docs-home-row-column">
      <h2>Simples</h2>
      <p>
        Aplicações de áudio, vídeo e troca de dados ponto a ponto com alta
        qualidade, requer muitas novas funcionalidades no navegador.
      </p>
      <p>
        Felizmente, o navegador abstrai a essa complexidade com três APIs
        principais.
        <br />
        <!-- <a class="docs-link" routerLink="">Continuar lendo</a> -->
      </p>
    </div>
  </div>

</main>

<app-footer></app-footer>

<ng-template #isDev let-data>
  <h1 mat-dialog-title>
    {{ data.isDev ? 'Sou dev' : 'Quero contribuir' }}
  </h1>
  <div mat-dialog-content>
    <p>{{ data.isDev | json }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Entendi</button>
  </div>
</ng-template>
