<main class="docs-home-promo">
  <div class="docs-home-featured-components docs-home-carousel-row">
    <quertc-carousel [itemWidth]="260" [aria-label]="'Featured components'">
      <div
        *ngFor="let item of banners"
        carousel-item
        class="docs-featured-components-carousel-item"
      >
        <div class="docs-home-img-container">
          <img [alt]="item.alt" [src]="item.src" role="presentation" />
        </div>
        {{ item.alt }}
      </div>
    </quertc-carousel>
  </div>
  <mat-divider></mat-divider>
  <div class="docs-home-row docs-introduction">
    <div class="docs-home-row-column">
      <h2>Código aberto</h2>
      <p>
        O projeto WebRTC é de código aberto e suportado pela Apple, Google, Microsoft e Mozilla, entre outros.
      </p>
      <p>
        Esta página será mantida pela comunidade.
        <!-- <a class="docs-link" routerLink="">Participe</a> -->
      </p>
    </div>
    <div class="docs-home-row-column">
      <h2>Versátil</h2>
      <p>
        Projetado de forma que possa ser integrado aos sistemas de comunicação existentes: voz sobre IP (VOIP), vários clientes SIP.
      </p>
      <p>
        Até mesmo a rede telefônica pública comutada (PSTN).
      </p>
    </div>
    <div class="docs-home-row-column">
      <h2>Simples</h2>
      <p>Aplicativos RTC de áudio, vídeo e troca de dados ponto a ponto com alta qualidade, requer muitas novas funcionalidades no navegador.</p>
      <p>
        Felizmente, o navegador abstrai a essa complexidade com três APIs principais.
        <br />
        <!-- <a class="docs-link" routerLink="">Continuar lendo</a> -->
      </p>
    </div>
  </div>
</main>

<app-footer></app-footer>
