<div class="client-container" [class.client-is-mobile]="mobileQuery.matches">
  <app-navbar [snav]="snav" [title]="title"></app-navbar>

  <mat-sidenav-container class="client-sidenav-container">
    <mat-sidenav
      #snav
      [mode]="'over'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list class="client-nav-list">
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of navLinks">
          <mat-icon class="mat-18" color="accent">{{ nav.icon }}</mat-icon>
          <span>{{ nav.label }}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="client-sidenav-content">
      <a
        rel="external"
        target="_blank"
        app-github-corner
        matTooltip="Contribua com o projeto"
        matTooltipPosition="before"
        href="https://github.com/guiseek/webrtc.community"
      ></a>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
