:host {
  path {
    stroke: #6bfbac;

    stroke-dasharray: 200;
    stroke-dashoffset: 200;

    &.offer {
      animation: dash 5s linear normal infinite;
    }

    &.answer {
      animation: dash 5s linear reverse infinite;
    }
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 500;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}
