@mixin github-corner-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-github-corner,
  [app-github-corner] {
    svg {
      fill: mat-color($background);
      color: mat-color($foreground, text);
      transition: fill 250ms ease-in-out;
      &:hover {
        fill: mat-color($background, hover);
      }
    }
  }
}
