@mixin github-corner-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-github-corner,
  [app-github-corner] {
    svg {
      // color: mat-color($foreground, text);
      fill: mat-color($background, hover);
      transition: fill 250ms ease-in-out;
      path:first-child {
        fill: mat-color($primary);
        transition: fill 250ms ease-in-out;
      }
      path:not(:first-child) {
        // fill: mat-color($background, 900-contrast);
        // fill: mat-color($foreground);
        fill: white;
        transition: fill 250ms ease-in-out;
      }
      &:hover {
        path:not(:first-child) {
          // fill: mat-color($foreground, hover);
          fill: white;
        }
      }
    }
  }
}
