:host {
  display: flex;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  z-index: 10;
  &.github:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-15deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github:hover .octo-arm {
    animation: none;
  }
  .github .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
